<component name="ArtifactManager">
  <artifact type="war" name="spring-task-service:war">
    <output-path>$PROJECT_DIR$/spring-task-service/target</output-path>
    <root id="archive" name="spring-task-service-0.0.3-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-task-service:war exploded" />
    </root>
  </artifact>
</component>